name: Publish LLM-X to PyPI

on:
  push:
    tags:
      - "v*"

jobs:
  build-n-publish:
    name: Build and publish LLM-X
    runs-on: ubuntu-latest
    
    environment:
      name: pypi
      url: https://pypi.org/p/llm-x

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout LLM-X code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - name: Build LLM-X
        run: uv build

      - name: Publish to PyPI
        run: uv publish